@charset "UTF-8";
/* ---- screen sizes ---- */
/* ---- colors ---- */
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-ExtraBold.ttf?6a7a95b823f21d230e6d2cdb388c57ba) format("truetype");
  font-weight: 800;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Bold.ttf?45847e90261782dc01a6f6e700bde40b) format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-SemiBold.ttf?dcf2e322dbaa037ca821c06f11d632ba) format("truetype");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Medium.ttf?5b0a682fe3717764627eb55e9bb6c8c0) format("truetype");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf?9a6cfa5890d7f3eef58510612e5fc36e) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Light.ttf?ba19b360bc99b580b45bf7182d085382) format("truetype");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "Disket Mono";
  src: url(/fonts/Disket-Mono-Bold.ttf?295e11be396c5e39698be5b87a70b387) format("truetype");
  font-weight: 700;
  font-style: light;
}
@font-face {
  font-family: "Disket Mono";
  src: url(/fonts/Disket-Mono-Regular.ttf?7377dd2a75631272ed00f03e6ab6ca7d) format("truetype");
  font-weight: 400;
  font-style: light;
}
:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Open Sans";
  color: rgb(41, 67, 90);
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */ /* Internet Explorer/Edge */
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.website {
  min-height: 500px;
}

.page-title {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.notification-block {
  position: relative;
  display: flex;
  width: 100%;
  height: 30px;
  padding: 2px 0 0;
  justify-content: flex-end;
}

.notification {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 30px;
  animation-name: dissapear;
  animation-duration: 8s;
  opacity: 0;
}
.notification.error {
  border: 1px solid rgb(202, 133, 133);
  background-color: rgb(255, 219, 219);
  color: rgb(207, 0, 0);
}
.notification.info {
  border: 1px solid rgb(133, 202, 164);
  background-color: rgb(219, 255, 235);
  color: rgb(0, 122, 55);
}

@keyframes dissapear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.migration-report-list {
  border: 1px solid rgba(0, 83, 118, 0.3);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
}
.migration-report-list li {
  padding-left: 25px;
  position: relative;
  margin: 10px;
}
.migration-report-list li:before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  color: green;
}

.main {
  min-height: 100%;
  padding: 0 30px;
}
.main__title {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main {
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .main {
    padding: 0 10px;
  }
}

.main-auth {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section {
  padding: 30px 0;
  width: 100%;
}
.section__title {
  text-align: center;
  margin-bottom: 30px;
}
.section__title h2 {
  border-bottom: 3px solid rgb(0, 83, 118);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .section {
    margin-bottom: 30px;
  }
}

.empty-list-note {
  text-align: center;
  color: grey;
  font-size: 20px;
  font-style: italic;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}

.maintenance {
  border: 1px solid red;
  height: 100vh;
  background-image: url(/images/maintenance.jpg?6c5e097baced827885e4fa2e9ace0f21);
  background-repeat: no-repeat;
  background-position: center;
}

.no-photo-image {
  width: 100%;
  height: 100%;
  background-image: url(/images/default-picture-city.png?869933191706a28a3b2d81a1efc5db20);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.no-photo-avatar {
  width: 100%;
  height: 100%;
  background-image: url(/images/no-photo-avatar.jpg?53c66edf1118be76bdafa56b5c1318ca);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.develop-label {
  border: 3px solid rgb(141, 62, 62);
  color: rgb(216, 0, 0);
  background: white;
  opacity: 0.8;
  position: fixed;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 20px;
  padding: 15px;
  box-shadow: 1px 1px 30px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.divider {
  border-bottom: 1px solid rgba(0, 83, 118, 0.2);
  width: 100%;
  margin-bottom: 10px;
}

.comp-nav-link-top-panel {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.1s ease-in-out;
}
.comp-nav-link-top-panel:hover {
  color: yellow;
  margin-top: 5px;
}
.comp-nav-link-top-panel.active {
  color: yellow;
}

.comp-nav-link-home-page {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #208179;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 22px;
}
.comp-nav-link-home-page:hover {
  background-color: #208179;
}
.comp-nav-link-home-page:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.comp-nav-link-auth-panel {
  color: white;
  display: flex;
  padding-left: 20px;
  align-items: center;
  height: 40px;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.comp-nav-link-auth-panel:hover {
  background-color: #208179;
}
.comp-nav-link-auth-panel:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
@media (max-width: 767px) {
  .comp-nav-link-auth-panel {
    font-size: 24px;
    height: 60px;
  }
}

.comp-nav-link-menu-panel {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: capitalize;
}
.comp-nav-link-menu-panel:hover {
  background-color: #208179;
}
.comp-nav-link-menu-panel:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.aside {
  position: fixed;
  z-index: 5;
  top: 0;
  left: -100%;
  background-color: rgb(166, 199, 207);
  transition: 0.2s ease-in-out;
  height: 100%;
  width: 100%;
}
.aside._active {
  left: 0;
}
@media (max-width: 767px) and (orientation: landscape) {
  .aside {
    position: absolute;
    top: 0;
    left: -100%;
  }
  .aside._active {
    left: 0;
  }
}

.aside__btn-block {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}

.aside__btn-close-menu {
  border: 1px solid red;
  background-color: transparent;
  height: 50px;
  padding: 0 20px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: none;
}
@media (max-width: 767px) {
  .aside__btn-close-menu {
    display: block;
  }
}

.aside-navigation {
  margin-bottom: 50px;
}
.aside-navigation__title {
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .aside-navigation__title {
    font-size: 24px;
  }
}
.aside-navigation a {
  display: block;
  padding: 10px 10px 10px 40px;
  border-bottom: 1px solid rgb(100, 146, 160);
  transition: 0.2s;
  font-size: 18px;
  color: rgb(0, 83, 118);
}
@media (max-width: 767px) {
  .aside-navigation a {
    font-size: 22px;
  }
}
.aside-navigation a:hover {
  background-color: rgb(184, 220, 230);
}

.top-panel {
  background: rgba(109, 37, 15, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 50px;
}
.top-panel__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.top-panel__home-link {
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .top-panel__home-link {
    display: none;
  }
}
.top-panel__menu-link {
  display: none;
}
@media (max-width: 767px) {
  .top-panel__menu-link {
    display: block;
    cursor: pointer;
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    background-image: url(/images/menu.svg?d4d320cd378fd6b3542b1d2a137afd6a);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }
  .top-panel__menu-link:hover {
    background-image: url(/images/menu.svg?d4d320cd378fd6b3542b1d2a137afd6a);
  }
}
.top-panel__profile-link {
  display: block;
  position: absolute;
  content: "";
  width: 34px;
  height: 34px;
  background-image: url(/images/person.svg?a413c466d4607604465581196c565225);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.top-panel__profile-link:hover {
  background-image: url(/images/person.svg?a413c466d4607604465581196c565225);
}
.top-panel a {
  position: relative;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.top-panel a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-bottom: 3px solid transparent;
  width: 0;
  transition: ease 0.4s;
}
.top-panel a.active {
  color: yellow;
}
.top-panel a.active::after {
  width: 100%;
  border-bottom: 3px solid yellow;
}
@media (max-width: 767px) {
  .top-panel a {
    font-weight: bold;
  }
}
.top-panel a:hover {
  color: yellow;
}
.top-panel a:hover::after {
  width: 100%;
  border-bottom: 3px solid yellow;
}
.top-panel__navigation {
  display: flex;
  gap: 50px;
}
.top-panel__navigation a {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .top-panel__navigation {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .top-panel {
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .top-panel {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .top-panel {
    background-color: rgb(1, 124, 97);
    position: fixed;
  }
}

@media (max-width: 767px) {
  .top-panel-false {
    height: 50px;
  }
}

.auth-panel {
  box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.2);
  z-index: 5;
  background-color: #208179;
  position: fixed;
  overflow: hidden;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transition: 0.4s;
}
.auth-panel.opened {
  width: 250px;
}
@media (max-width: 767px) {
  .auth-panel.opened {
    width: 100%;
  }
}
.auth-panel__btn-block {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  padding-left: 10px;
}
.auth-panel__btn-close {
  background-color: inherit;
  font-size: 14px;
  color: white;
}
.auth-panel__navigation {
  padding-top: 30px;
}
@media (max-width: 767px) {
  .auth-panel__navigation {
    font-size: 30px;
  }
}

.section-map {
  background-color: rgb(81, 125, 131);
  padding: 130px 10px;
  color: white;
}
.section-map h2 {
  border-bottom: 2px solid white;
}

.gallery-list {
  list-style: none;
  margin-bottom: 30px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .gallery-list {
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .gallery-list {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .gallery-list {
    flex-direction: column;
    gap: 40px;
  }
}

.category-card {
  position: relative;
  height: 100px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .category-card {
    flex: 0 1 fit-content;
    border: none;
    box-shadow: none;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 0;
  }
}
.category-card__title {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 40%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  /* display 2 lines only */
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 767px) {
  .category-card__title {
    padding: 10px 0 5px;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 22px;
  }
}
.category-card__link {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.category-card__link::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.category-card__link:hover::after {
  opacity: 0.4;
}
.category-card__link img {
  width: 100%;
}
@media (max-width: 767px) {
  .category-card__link img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .category-card__link {
    height: 60vw;
  }
}

.post-detail {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.post-detail__title {
  text-align: center;
  margin-bottom: 20px;
}
.post-detail__image {
  background-color: lightgrey;
  flex: 0 0 450px;
  width: 450px;
  height: 300px;
  margin: 0 auto 30px;
  overflow: hidden;
  text-align: center;
}
.post-detail__image img {
  height: 100%;
}
@media (max-width: 767px) {
  .post-detail__image {
    width: 100%;
    flex: 1 1 fit-content;
  }
  .post-detail__image img {
    width: 100%;
    height: auto;
  }
}
.post-detail__text {
  margin-bottom: 50px;
}

.blog-page-item {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .blog-page-item {
    gap: 10px;
  }
}
.blog-page-item__link {
  color: rgb(0, 83, 118);
}
.blog-page-item__title {
  font-size: 20px;
}
.blog-page-item__image {
  background-color: lightgrey;
  flex: 0 0 40px;
  text-align: center;
  min-height: 100%;
}
.blog-page-item__text {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 767px) {
  .blog-page-item__text {
    padding: 0 10px;
  }
}

.post-detail-column {
  flex: 1 1 auto;
}

.search-column {
  border: 1px solid rgba(0, 83, 118, 0.2);
  flex: 0 0 150px;
  border-radius: 7px;
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 767px) {
  .search-column {
    display: none;
  }
}

.search-posts-block input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 30px;
  padding: 0 5px;
}
.search-posts-block input:focus {
  outline: 1px solid rgb(0, 83, 118);
}
.search-posts-block__input-block {
  margin-bottom: 10px;
}
.search-posts-block__btn-block {
  display: flex;
  justify-content: flex-end;
}
.search-posts-block button {
  background-color: #006483;
  border-radius: 5px;
  color: white;
  width: 80px;
  height: 30px;
}

.footer {
  padding: 20px 0;
  background-color: rgb(81, 125, 131);
}

.footer__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__row {
    flex-direction: column;
    width: 100%;
  }
}

.footer__col a {
  transition: 0.3s;
  color: rgb(255, 255, 170);
}
.footer__col a:hover {
  color: rgb(253, 253, 31);
  text-decoration: underline;
}
.footer__col p {
  color: rgba(255, 255, 255, 0.5);
}

.footer-contacts {
  color: white;
}
@media (max-width: 767px) {
  .footer-contacts {
    width: 100%;
  }
}
.footer-contacts__title {
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.534);
  padding-bottom: 2px;
  margin-bottom: 4px;
}
.footer-contacts__list {
  color: inherit;
}
.footer-contacts__item {
  color: inherit;
}

.form {
  width: 400px;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .form {
    width: 100%;
  }
}
.form.auth-form {
  width: 330px;
}

.form__input-block {
  height: 38px;
  margin-bottom: 16px;
}
.form__input-block input {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgba(0, 83, 118, 0.4);
  outline: none;
  color: rgb(0, 83, 118);
}
@media (max-width: 767px) {
  .form__input-block input {
    font-size: 22px;
  }
}
.form__input-block input::-moz-placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__input-block input::placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__input-block input:focus {
  border-bottom: 1px solid blue;
}
.form__input-block input:focus::-moz-placeholder {
  color: rgba(0, 83, 118, 0.1);
}
.form__input-block input:focus::placeholder {
  color: rgba(0, 83, 118, 0.1);
}

.form__textarea-block {
  margin-bottom: 16px;
  border: 2px solid rgba(0, 83, 118, 0.5);
}
.form__textarea-block textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 18px;
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 83, 118, 0.4);
  color: rgb(0, 83, 118);
}
@media (max-width: 767px) {
  .form__textarea-block textarea {
    font-size: 22px;
  }
}
.form__textarea-block textarea::-moz-placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__textarea-block textarea::placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__textarea-block textarea:focus {
  border: 1px solid blue;
}
.form__textarea-block textarea:focus::-moz-placeholder {
  color: rgba(0, 83, 118, 0.1);
}
.form__textarea-block textarea:focus::placeholder {
  color: rgba(0, 83, 118, 0.1);
}

.form__color-block {
  height: 38px;
  margin-bottom: 20px;
}
.form__color-block label {
  display: inline-block;
  border: 1px solid rgba(0, 83, 118, 0.4);
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.form__color-block input {
  display: none;
}
.form__color-block input::-moz-placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__color-block input::placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__color-block input:focus {
  border-bottom: 1px solid blue;
}
.form__color-block input:focus::-moz-placeholder {
  color: rgba(0, 83, 118, 0.1);
}
.form__color-block input:focus::placeholder {
  color: rgba(0, 83, 118, 0.1);
}
.form__color-block input[type=radio]:checked + label {
  border: 2px solid rgba(0, 83, 118, 0.7);
}

.form__status-block {
  height: 38px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.form__status-block label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 83, 118, 0.4);
  width: 100px;
  height: 38px;
  color: rgba(0, 83, 118, 0.5);
  cursor: pointer;
}
.form__status-block input {
  display: none;
}
.form__status-block input::-moz-placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__status-block input::placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__status-block input:focus {
  border-bottom: 1px solid blue;
}
.form__status-block input:focus::-moz-placeholder {
  color: rgba(0, 83, 118, 0.1);
}
.form__status-block input:focus::placeholder {
  color: rgba(0, 83, 118, 0.1);
}
.form__status-block input[type=radio]:checked + label {
  border: 2px solid rgba(0, 83, 118, 0.7);
  background-color: rgba(0, 83, 118, 0.8);
  color: white;
}

.form__image-block {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 140px;
  margin-bottom: 16px;
}
.form__image-block img {
  border: 1px solid rgba(0, 83, 118, 0.4);
  height: 100%;
}

.form__file-block {
  margin-bottom: 16px;
}
.form__file-block input {
  border: none;
  color: rgb(0, 83, 118);
}

.input-date-block {
  display: flex;
  justify-content: center;
  gap: 20px;
}

select {
  border: none;
  border-bottom: 1px solid rgba(0, 83, 118, 0.4);
  color: rgb(0, 83, 118);
  padding-right: 7px;
  outline: none;
  height: 100%;
  width: 100%;
}

option {
  height: 50px;
}

.input-type-block {
  position: relative;
  margin-bottom: 44px;
}
.input-type-block select {
  width: 100%;
}

.form__btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .form__btn-block {
    flex-direction: column;
    gap: 10px;
  }
}

.btn {
  min-width: 100px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  padding: 15px 40px;
  font-size: 18px;
  display: block;
  border: 1px solid rgba(0, 83, 118, 0.5);
  background: #fff;
  color: rgb(0, 83, 118);
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: rgba(0, 83, 118, 0.8);
  color: #fff;
}
.btn:active {
  box-shadow: 0px 0px 5px 1px rgba(0, 200, 255, 0.4);
}
@media (max-width: 767px) {
  .btn {
    width: 100%;
    padding: 16px;
  }
}

.add-btn {
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent;
  width: 30px;
  height: 30px;
  font-size: 14px;
}

.cell-btn {
  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent;
  width: 30px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.btn-grey {
  border: 1px solid rgb(117, 134, 146);
  color: rgb(117, 134, 146);
  transition: 0.2s;
}
.btn-grey:hover {
  background-color: rgb(117, 134, 146);
  color: #fff;
}

.btn-green {
  border: 1px solid #009859;
  color: #009859;
  transition: 0.2s;
}
.btn-green:hover {
  background-color: #009859;
  color: #fff;
}

.btn-save {
  background-color: #009859;
  color: #fff;
}
.btn-save:hover {
  background-color: rgb(96, 177, 96);
}

.btn-blue {
  border: 1px solid #1a80cf;
  color: #1a80cf;
  transition: 0.2s;
}
.btn-blue:hover {
  background-color: #1a80cf;
  color: #fff;
}

.btn-red {
  border: 1px solid #fe4747;
  color: #fe4747;
  transition: 0.2s;
}
.btn-red:hover {
  background-color: #fe4747;
  color: #fff;
}

.btn-icon-edit {
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.btn-icon-delete {
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}
.btn-icon-delete:hover {
  background-size: 67%;
}

.btn-icon-postpone {
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}
.btn-icon-add {
  background-repeat: no-repeat;
  background-position: center;
}
.btn-icon-add:hover {
  background-color: #009859;
}

.btn-block {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .btn-block {
    flex-direction: column;
  }
}

.add-btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.add-btn-group span {
  cursor: pointer;
  color: #009859;
  display: block;
}
.add-btn-group span:hover {
  color: #00cb77;
}
.add-btn-group:hover a {
  background-color: #009859;
}
@media (max-width: 767px) {
  .add-btn-group {
    justify-content: center;
    width: 100%;
  }
}

.btn-del {
  border: 1px solid rgba(0, 83, 118, 0.4);
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 1;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 100%;
  cursor: pointer;
}
.btn-del:hover {
  background-color: #fe4747;
}

.btn-link-style {
  background-color: transparent;
}
.btn-link-style__delete {
  color: red;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  gap: 10px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    max-width: 1100px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .page-container {
    max-width: 1100px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .page-container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .page-container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .text-container {
    padding: 0 10px;
  }
}

.home-page-banner {
  background-image: url(/images/main-banner-1.webp?ce41cc78cdf6fc52fe6c57bb9b891822);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: changeBanner 20s ease infinite;
}
.home-page-banner::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.home-page-banner h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  letter-spacing: 30px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 100px;
}
.home-page-banner__contact-us {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  border: 1px solid white;
  padding: 20px 40px;
  color: white;
  cursor: pointer;
  z-index: 3;
  transition: 0.5s;
}
.home-page-banner__contact-us:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .home-page-banner {
    height: -moz-fit-content;
    height: fit-content;
    display: none;
  }
}

@keyframes changeBanner {
  0% {
    background-image: url(/images/main-banner-1.webp?ce41cc78cdf6fc52fe6c57bb9b891822);
  }
  50% {
    background-image: url(/images/main-banner-2.webp?067751c97aba313428fa042f0f5044fb);
  }
  100% {
    background-image: url(/images/main-banner-1.webp?ce41cc78cdf6fc52fe6c57bb9b891822);
  }
}
.page-banner {
  background-image: url(/images/page-banner.webp?678e77b92b3215227ca2b0b5218067d5);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 200px;
}
.page-banner::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: linear-gradient(to bottom, rgb(51, 21, 21), transparent);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.page-banner h2 {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 50px;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 80px;
}
@media (max-width: 767px) {
  .page-banner {
    height: -moz-fit-content;
    height: fit-content;
    display: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.pagination__item {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(44, 129, 111);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.pagination__item a {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(44, 129, 111);
  transition: 0.5s;
}
.pagination__item span {
  color: rgb(44, 129, 111);
}
.pagination__item.active {
  background: rgb(44, 129, 111);
}
.pagination__item.active span {
  color: #fff;
}
.pagination__item:hover {
  background: rgb(44, 129, 111);
}
.pagination__item:hover span {
  color: #fff;
}
.pagination__item:hover a {
  color: #fff;
}
@media (max-width: 767px) {
  .pagination__item {
    font-size: 20px;
    width: 45px;
    height: 45px;
  }
}

.breadcrumbs {
  display: flex;
  gap: 5px;
  padding: 10px 0;
}
.breadcrumbs__item {
  text-transform: uppercase;
  font-size: 15px;
  color: rgb(0, 83, 118);
}
.breadcrumbs__item a {
  color: rgb(185, 61, 61);
}

.recent-photos-block {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 30px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .recent-photos-block {
    gap: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .recent-photos-block {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .recent-photos-block {
    flex-direction: column;
    gap: 30px;
  }
}

.photo-card {
  flex: 0 1 250px;
  padding: 10px;
}
@media (max-width: 767px) {
  .photo-card {
    border: none;
    box-shadow: none;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 0;
    padding: 0 10px;
  }
}
.photo-card__title {
  height: 47px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  /* display 2 lines only */
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 767px) {
  .photo-card__title {
    padding: 10px 0 5px;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 22px;
  }
}
.photo-card__name {
  font-size: 10px;
}
@media (max-width: 767px) {
  .photo-card__name {
    font-size: 14px;
  }
}
.photo-card__date {
  font-size: 8px;
  margin-bottom: 2px;
}
@media (max-width: 767px) {
  .photo-card__date {
    font-size: 12px;
  }
}
.photo-card__image {
  position: relative;
  background-color: lightgrey;
  border: 1px solid rgba(0, 83, 118, 0.1);
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.photo-card__image::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: black;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.photo-card__image:hover::after {
  opacity: 0;
}
@media (max-width: 767px) {
  .photo-card__image {
    height: 60vw;
  }
}
.photo-card__image img {
  width: 100%;
}
@media (max-width: 767px) {
  .photo-card__image img {
    width: 100%;
    height: auto;
  }
}

.category-posts {
  display: flex;
  gap: 30px;
}

.category-tree-column {
  border: 1px solid rgba(0, 83, 118, 0.2);
  border-radius: 7px;
  padding: 14px;
}
@media (max-width: 767px) {
  .category-tree-column {
    display: none;
  }
}

.category-list li {
  margin-bottom: 10px;
}

.category-posts-main-column {
  flex: 1 1 auto;
}

.tinymce-content h4 {
  margin-bottom: 10px;
}
.tinymce-content ul {
  padding-left: 20px;
  margin-bottom: 20px;
}
.tinymce-content li:before {
  content: "-";
  position: relative;
  left: -5px;
}
.tinymce-content p {
  text-indent: 30px;
}

.comments-block__input-block {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.comments-block__input-block input {
  border: 1px solid rgba(0, 83, 118, 0.5);
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 0 10px;
}
.comments-block__input-block input:focus {
  outline: 1px solid rgb(0, 83, 118);
}
.comments-block__input-block button {
  background-color: #fff;
  border: 1px solid rgba(0, 83, 118, 0.5);
  border-radius: 5px;
  color: rgba(0, 83, 118, 0.5);
  width: 60px;
  height: 30px;
}

.comment {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  color: #005376;
}
.comment__avatar {
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 38px;
  height: 38px;
}
.comment__comment {
  font-style: italic;
}

.todo-list-container {
  width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .todo-list-container {
    max-width: 800px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .todo-list-container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .todo-list-container {
    width: 100%;
    padding: 0 10px;
  }
}

.todo-list-btn-block {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.todo-list-btn-block a {
  background: green;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 42px;
  line-height: 42px;
  font-weight: 600;
  color: white;
}
.todo-list-btn-block a:hover {
  border: 2px solid green;
}

.todo-list {
  margin-bottom: 20px;
}
.todo-list__item {
  padding-left: 4px;
}

.todo-item {
  height: 50px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-bottom: 14px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.todo-item__title {
  flex: 1 1 auto;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(0, 83, 118);
  transition: 0.2s;
  padding-left: 5px;
}
.todo-item__title:hover {
  color: #0077a9;
}
.todo-item__actions {
  flex: 0 0 34px;
  position: relative;
  height: 34px;
}
.todo-item__modal {
  display: block;
  width: 140px;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 5;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: 0.4s;
}
.todo-item__modal.hidden {
  display: none;
}
.todo-item__action-list li {
  height: 48px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.todo-item__action-list li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  color: blue;
  font-size: 20px;
  transition: 0.2s;
}
.todo-item__action-list li a:hover {
  background: blue;
  color: white;
}
.todo-item__action-list li form {
  height: 100%;
}
.todo-item__action-list li form button {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  color: red;
  font-size: 20px;
  transition: 0.2s;
}
.todo-item__action-list li form button:hover {
  background: red;
  color: white;
}

.todo-section {
  min-height: calc(100vh - 50px);
}

.three-dots-icon {
  position: absolute;
  content: "";
  width: 34px;
  height: 34px;
  background-image: url(/images/three_dots.svg?718b74c5e6f4908088b9291c51d5f8bd);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  cursor: pointer;
}
.three-dots-icon:hover {
  background-image: url(/images/three_dots.svg?718b74c5e6f4908088b9291c51d5f8bd);
}

.task-detail__title {
  margin-bottom: 20px;
  font-size: 24px;
}
.task-detail__body {
  font-size: 20px;
  margin-bottom: 20px;
}
.task-detail__fieldset {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.task-detail ul {
  padding-left: 25px;
}
.task-detail ol {
  padding-left: 40px;
}
.task-detail li {
  margin-bottom: 4px;
}

.clear-tasks-btn {
  background-color: #fff;
  border: 1px solid red;
  color: red;
  font-size: 18px;
  font-weight: normal;
  width: 130px;
  height: 38px;
  transition: 0.2s;
  align-self: center;
}
.clear-tasks-btn:hover {
  background-color: red;
  color: white;
}

.task-detail-btn-block {
  display: flex;
  gap: 11px;
  margin-bottom: 20px;
}

.task-detail-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 90px;
  height: 44px;
  font-size: 18px;
}
.task-detail-btn button {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.item-bg-color-1 {
  background-color: #e3feff;
}

.item-bg-color-2 {
  background-color: #e7ffe5;
}

.item-bg-color-3 {
  background-color: #fffedc;
}

.item-bg-color-4 {
  background-color: #ffefdc;
}

.item-bg-color-5 {
  background-color: #ffe6e6;
}

.select-color-modal {
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: absolute;
  width: 220px;
  right: 100%;
  top: 0;
  display: none;
  padding: 4px 6px 0 6px;
  transition: 0.4s;
}
.select-color-modal input, .select-color-modal label {
  transition: 0.4s;
}
.select-color-modal input:hover, .select-color-modal label:hover {
  border: 1px solid red;
}

.todo-item__action-list > li:hover .select-color-modal {
  display: block;
}

.form__color-block {
  height: -moz-fit-content;
  height: fit-content;
}

.product-list-list-container {
  width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .product-list-list-container {
    max-width: 800px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .product-list-list-container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .product-list-list-container {
    width: 100%;
    padding: 0 10px;
  }
}

.product-list-btn-block {
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .product-list-btn-block {
    flex-direction: column;
    gap: 20px;
  }
}
.product-list-btn-block a {
  border: 2px solid green;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0 20px;
  height: 44px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}
.product-list-btn-block a:hover {
  background-color: green;
  color: white;
}

.product-list {
  margin-bottom: 20px;
}
.product-list__item {
  padding-left: 4px;
}

.product-list-item {
  height: 34px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.product-list-item__title {
  flex: 1 1 auto;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(0, 83, 118);
  transition: 0.2s;
  padding-left: 5px;
}
.product-list-item__title:hover {
  color: #0077a9;
}
.product-list-item__price {
  flex: 0 0 70px;
  text-align: end;
  padding-right: 15px;
  font-weight: 500;
  color: red;
}
.product-list-item__status {
  flex: 0 0 50px;
}
.product-list-item__status button {
  background-color: #fff;
  border-radius: 12px;
  height: 24px;
  width: 50px;
  font-size: 10px;
  letter-spacing: 0.4px;
  transition: 0.3s;
}
.product-list-item__status button.action-list-disable {
  border: 1px solid rgb(0, 83, 118);
  color: rgb(0, 83, 118);
}
.product-list-item__status button.action-list-disable:hover {
  background-color: rgb(0, 83, 118);
  color: white;
}
.product-list-item__status button.action-list-active {
  border: 1px solid grey;
  color: grey;
  opacity: 0.4;
}
.product-list-item__status button.action-list-active:hover {
  background-color: grey;
  color: white;
}
.product-list-item__actions {
  flex: 0 0 34px;
  position: relative;
  height: 34px;
}
.product-list-item__modal {
  display: block;
  width: 140px;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 5;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: 0.4s;
}
.product-list-item__modal.hidden {
  display: none;
}
.product-list-item__action-list li {
  height: 48px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.product-list-item__action-list li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  transition: 0.2s;
}
.product-list-item__action-list li a:hover {
  background: blue;
  color: white;
}
.product-list-item__action-list li form {
  height: 100%;
}
.product-list-item__action-list li form button {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  transition: 0.2s;
}
.product-list-item__action-list li form button:hover {
  background: red;
  color: white;
}
.product-list-item.mute .product-list-item__title, .product-list-item.mute .product-list-item__price {
  opacity: 0.2;
  text-decoration: line-through;
}
.product-list-item.mute .three-dots-icon {
  opacity: 0.2;
}

.action-list-edit {
  color: blue;
}

.action-list-delete {
  color: red;
}

.action-list-active {
  color: green;
}

.action-list-disable {
  color: grey;
}

.product-list-section {
  min-height: calc(100vh - 50px);
}

.three-dots-icon {
  position: absolute;
  content: "";
  width: 34px;
  height: 34px;
  background-image: url(/images/three_dots.svg?718b74c5e6f4908088b9291c51d5f8bd);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  cursor: pointer;
}
.three-dots-icon:hover {
  background-image: url(/images/three_dots.svg?718b74c5e6f4908088b9291c51d5f8bd);
}

.product-list-detail__title {
  margin-bottom: 20px;
  font-size: 24px;
}
.product-list-detail__body {
  font-size: 20px;
  margin-bottom: 20px;
}
.product-list-detail__fieldset {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.product-list-detail ul {
  padding-left: 25px;
}
.product-list-detail ol {
  padding-left: 40px;
}
.product-list-detail li {
  margin-bottom: 4px;
}

.clear-product-lists-btn {
  background-color: #fff;
  border: 1px solid red;
  color: red;
  font-size: 18px;
  font-weight: normal;
  width: 130px;
  height: 38px;
  transition: 0.2s;
  align-self: center;
}
.clear-product-lists-btn:hover {
  background-color: red;
  color: white;
}

.product-list-detail-btn-block {
  display: flex;
  gap: 11px;
  margin-bottom: 20px;
}

.product-list-detail-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 120px;
  height: 44px;
  font-size: 18px;
}
.product-list-detail-btn button {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.item-bg-color-1 {
  background-color: #e3feff;
}

.item-bg-color-2 {
  background-color: #e7ffe5;
}

.item-bg-color-3 {
  background-color: #fffedc;
}

.item-bg-color-4 {
  background-color: #ffefdc;
}

.item-bg-color-5 {
  background-color: #ffe6e6;
}

.select-color-modal {
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: absolute;
  width: 220px;
  right: 100%;
  top: 0;
  display: none;
  padding: 4px 6px 0 6px;
  transition: 0.4s;
}
.select-color-modal input, .select-color-modal label {
  transition: 0.4s;
}
.select-color-modal input:hover, .select-color-modal label:hover {
  border: 1px solid red;
}

.product-list-item__action-list > li:hover .select-color-modal {
  display: block;
}

.form__status-block {
  height: -moz-fit-content;
  height: fit-content;
}

.product-list-sum {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.product-list-sum__label {
  flex: 0 0 70px;
  text-align: end;
  padding-right: 15px;
  color: rgb(0, 83, 118);
}
.product-list-sum__sum {
  flex: 0 0 80px;
  text-align: end;
  padding-right: 15px;
  color: green;
  font-size: 20px;
  font-weight: 700;
}
.product-list-sum__space {
  flex: 0 0 90px;
}

.prod-list-item {
  height: 100px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.prod-list-item:hover {
  opacity: 0.9;
}
.prod-list-item__title {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  transition: 0.2s;
  padding-left: 20px;
}
.prod-list-item__price {
  flex: 0 0 70px;
  text-align: end;
  padding-right: 15px;
  font-weight: 500;
  color: red;
}
.prod-list-item__status {
  flex: 0 0 50px;
}
.prod-list-item__status button {
  background-color: #fff;
  border-radius: 12px;
  height: 24px;
  width: 50px;
  font-size: 10px;
  letter-spacing: 0.4px;
  transition: 0.3s;
}
.prod-list-item__status button.action-list-disable {
  border: 1px solid rgb(0, 83, 118);
  color: rgb(0, 83, 118);
}
.prod-list-item__status button.action-list-disable:hover {
  background-color: rgb(0, 83, 118);
  color: white;
}
.prod-list-item__status button.action-list-active {
  border: 1px solid grey;
  color: grey;
  opacity: 0.4;
}
.prod-list-item__status button.action-list-active:hover {
  background-color: grey;
  color: white;
}
.prod-list-item__actions {
  flex: 0 0 34px;
  position: relative;
  height: 34px;
}
.prod-list-item__modal {
  display: block;
  width: 140px;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 5;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: 0.4s;
}
.prod-list-item__modal.hidden {
  display: none;
}
.prod-list-item__action-list li {
  height: 48px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.prod-list-item__action-list li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  transition: 0.2s;
}
.prod-list-item__action-list li a:hover {
  background: blue;
  color: white;
}
.prod-list-item__action-list li form {
  height: 100%;
}
.prod-list-item__action-list li form button {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  transition: 0.2s;
}
.prod-list-item__action-list li form button:hover {
  background: red;
  color: white;
}
.prod-list-item.mute .prod-list-item__title, .prod-list-item.mute .prod-list-item__price {
  opacity: 0.2;
  text-decoration: line-through;
}
.prod-list-item.mute .three-dots-icon {
  opacity: 0.2;
}

.common-bg-color-0 {
  background-color: rgba(40, 71, 100, 0.8);
}

.common-bg-color-1 {
  background-color: rgba(40, 100, 92, 0.8);
}

.common-bg-color-2 {
  background-color: rgba(151, 83, 28, 0.8);
}

.common-bg-color-3 {
  background-color: rgba(170, 153, 0, 0.8);
}

.common-bg-color-4 {
  background-color: rgba(104, 48, 48, 0.8);
}

.manage-day-list-container {
  width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .manage-day-list-container {
    max-width: 800px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .manage-day-list-container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .manage-day-list-container {
    width: 100%;
    padding: 0 10px;
  }
}

.manage-day-btn-block {
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .manage-day-btn-block {
    flex-direction: column;
    gap: 20px;
  }
}
.manage-day-btn-block a {
  border: 2px solid green;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0 20px;
  height: 44px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}
.manage-day-btn-block a:hover {
  background-color: green;
  color: white;
}

.manage-day {
  margin-bottom: 20px;
}
.manage-day__item {
  padding-left: 4px;
}

.manage-day-item {
  height: 34px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.manage-day-item__time {
  flex: 0 0 90px;
  font-size: 14px;
  color: red;
}
.manage-day-item__title {
  flex: 1 1 auto;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(0, 83, 118);
  transition: 0.2s;
  padding-left: 5px;
}
.manage-day-item__title:hover {
  color: #0077a9;
}
.manage-day-item__duration-time {
  flex: 0 0 100px;
  text-align: end;
  padding-right: 15px;
  font-weight: 500;
  color: red;
  font-size: 14px;
}
.manage-day-item__status {
  flex: 0 0 50px;
}
.manage-day-item__status button {
  background-color: #fff;
  border-radius: 12px;
  height: 24px;
  width: 50px;
  font-size: 10px;
  letter-spacing: 0.4px;
  transition: 0.3s;
}
.manage-day-item__status button.action-list-disable {
  border: 1px solid rgb(0, 83, 118);
  color: rgb(0, 83, 118);
}
.manage-day-item__status button.action-list-disable:hover {
  background-color: rgb(0, 83, 118);
  color: white;
}
.manage-day-item__status button.action-list-active {
  border: 1px solid grey;
  color: grey;
  opacity: 0.4;
}
.manage-day-item__status button.action-list-active:hover {
  background-color: grey;
  color: white;
}
.manage-day-item__actions {
  flex: 0 0 34px;
  position: relative;
  height: 34px;
}
.manage-day-item__modal {
  display: block;
  width: 140px;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 5;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: 0.4s;
}
.manage-day-item__modal.hidden {
  display: none;
}
.manage-day-item__action-list li {
  height: 48px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.manage-day-item__action-list li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  transition: 0.2s;
}
.manage-day-item__action-list li a:hover {
  background: blue;
  color: white;
}
.manage-day-item__action-list li form {
  height: 100%;
}
.manage-day-item__action-list li form button {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  transition: 0.2s;
}
.manage-day-item__action-list li form button:hover {
  background: red;
  color: white;
}
.manage-day-item.mute .manage-day-item__title, .manage-day-item.mute .manage-day-item__price {
  opacity: 0.2;
  text-decoration: line-through;
}
.manage-day-item.mute .three-dots-icon {
  opacity: 0.2;
}

.action-list-edit {
  color: blue;
}

.action-list-delete {
  color: red;
}

.action-list-active {
  color: green;
}

.action-list-disable {
  color: grey;
}

.manage-day-section {
  min-height: calc(100vh - 50px);
}

.three-dots-icon {
  position: absolute;
  content: "";
  width: 34px;
  height: 34px;
  background-image: url(/images/three_dots.svg?718b74c5e6f4908088b9291c51d5f8bd);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  cursor: pointer;
}
.three-dots-icon:hover {
  background-image: url(/images/three_dots.svg?718b74c5e6f4908088b9291c51d5f8bd);
}

.manage-day-detail__title {
  margin-bottom: 20px;
  font-size: 24px;
}
.manage-day-detail__body {
  font-size: 20px;
  margin-bottom: 20px;
}
.manage-day-detail__fieldset {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
.manage-day-detail ul {
  padding-left: 25px;
}
.manage-day-detail ol {
  padding-left: 40px;
}
.manage-day-detail li {
  margin-bottom: 4px;
}

.clear-product-lists-btn {
  background-color: #fff;
  border: 1px solid red;
  color: red;
  font-size: 18px;
  font-weight: normal;
  width: 130px;
  height: 38px;
  transition: 0.2s;
  align-self: center;
}
.clear-product-lists-btn:hover {
  background-color: red;
  color: white;
}

.manage-day-detail-btn-block {
  display: flex;
  gap: 11px;
  margin-bottom: 20px;
}

.manage-day-detail-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 120px;
  height: 44px;
  font-size: 18px;
}
.manage-day-detail-btn button {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.item-bg-color-1 {
  background-color: #e3feff;
}

.item-bg-color-2 {
  background-color: #e7ffe5;
}

.item-bg-color-3 {
  background-color: #fffedc;
}

.item-bg-color-4 {
  background-color: #ffefdc;
}

.item-bg-color-5 {
  background-color: #ffe6e6;
}

.select-color-modal {
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: absolute;
  width: 220px;
  right: 100%;
  top: 0;
  display: none;
  padding: 4px 6px 0 6px;
  transition: 0.4s;
}
.select-color-modal input, .select-color-modal label {
  transition: 0.4s;
}
.select-color-modal input:hover, .select-color-modal label:hover {
  border: 1px solid red;
}

.manage-day-item__action-list > li:hover .select-color-modal {
  display: block;
}

.form__status-block {
  height: -moz-fit-content;
  height: fit-content;
}

.manage-day-sum {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.manage-day-sum__label {
  flex: 0 0 70px;
  text-align: end;
  padding-right: 15px;
  color: rgb(0, 83, 118);
}
.manage-day-sum__sum {
  flex: 0 0 80px;
  text-align: end;
  padding-right: 15px;
  color: green;
  font-size: 20px;
  font-weight: 700;
}
.manage-day-sum__space {
  flex: 0 0 90px;
}

.prod-list-item {
  height: 100px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.prod-list-item:hover {
  opacity: 0.9;
}
.prod-list-item__title {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  transition: 0.2s;
  padding-left: 20px;
}
.prod-list-item__price {
  flex: 0 0 70px;
  text-align: end;
  padding-right: 15px;
  font-weight: 500;
  color: red;
}
.prod-list-item__status {
  flex: 0 0 50px;
}
.prod-list-item__status button {
  background-color: #fff;
  border-radius: 12px;
  height: 24px;
  width: 50px;
  font-size: 10px;
  letter-spacing: 0.4px;
  transition: 0.3s;
}
.prod-list-item__status button.action-list-disable {
  border: 1px solid rgb(0, 83, 118);
  color: rgb(0, 83, 118);
}
.prod-list-item__status button.action-list-disable:hover {
  background-color: rgb(0, 83, 118);
  color: white;
}
.prod-list-item__status button.action-list-active {
  border: 1px solid grey;
  color: grey;
  opacity: 0.4;
}
.prod-list-item__status button.action-list-active:hover {
  background-color: grey;
  color: white;
}
.prod-list-item__actions {
  flex: 0 0 34px;
  position: relative;
  height: 34px;
}
.prod-list-item__modal {
  display: block;
  width: 140px;
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 5;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: 0.4s;
}
.prod-list-item__modal.hidden {
  display: none;
}
.prod-list-item__action-list li {
  height: 48px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.prod-list-item__action-list li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  transition: 0.2s;
}
.prod-list-item__action-list li a:hover {
  background: blue;
  color: white;
}
.prod-list-item__action-list li form {
  height: 100%;
}
.prod-list-item__action-list li form button {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  transition: 0.2s;
}
.prod-list-item__action-list li form button:hover {
  background: red;
  color: white;
}
.prod-list-item.mute .prod-list-item__title, .prod-list-item.mute .prod-list-item__price {
  opacity: 0.2;
  text-decoration: line-through;
}
.prod-list-item.mute .three-dots-icon {
  opacity: 0.2;
}

.common-bg-color-0 {
  background-color: rgba(40, 71, 100, 0.8);
}

.common-bg-color-1 {
  background-color: rgba(40, 100, 92, 0.8);
}

.common-bg-color-2 {
  background-color: rgba(151, 83, 28, 0.8);
}

.common-bg-color-3 {
  background-color: rgba(170, 153, 0, 0.8);
}

.common-bg-color-4 {
  background-color: rgba(104, 48, 48, 0.8);
}
