.todo-list-container {
    width: 800px;
    margin: 0 auto;
    padding: 0 30px; 
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
        max-width: 800px;            
        width: 100%;     
    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
        width: 100%;         
    }           
    @media (max-width: $mobile-max) {  
        width: 100%;    
        padding: 0 10px;             
    }      
}

.todo-list-btn-block {
    // border: 1px solid red;
    margin-top: -10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    a {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        width: 32px;
        height: 32px;
        font-size: 42px;
        font-weight: 600;
        color: green;
        &:hover {
            border: 2px solid green;
        }
    }
}

.todo-list {
    margin-bottom: 20px;
    &__item {
        padding-left: 4px;
        // margin-bottom: 10px;
    }
}

.todo-item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid lightblue;

    &__title {
        flex: 1 1 auto;
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        color: $baseText;
        transition: 0.2s;
        padding-left: 5px;
        &:hover {
            color: lighten($baseText, 10);
        }
    }

    &__actions {
        flex: 0 0 34px;
        position: relative;
        height: 34px;
    }
    &__modal {
        display: block;
        width: 140px;
        position: absolute;
        right: 25px;
        top: 20px;
        z-index: 5;
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        transition: 0.4s;
        &.hidden {
            display: none;
        }
    }
    &__action-list {
        li {
            height: 48px;
            border-bottom: 1px solid lightgrey;
            position: relative;
        }
        li a {

            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-left: 10px;
            color: blue;
            font-size: 20px;
            transition: 0.2s;
            &:hover {
                background: blue;
                color: white;
            }
        }
        li form {
            height: 100%;
        }
        li form button {
            background: #fff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-left: 10px;
            color: red;
            font-size: 20px;
            transition: 0.2s;
            &:hover {
                background: red;
                color: white;
            }
        }
        
    }
}

.todo-section {
    min-height: calc(100vh - 50px);
}

.three-dots-icon {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    background-image:  url('../../images/icons/three_dots.svg'); 
    background-repeat: no-repeat;      
    background-size: 80%; 
    background-position: center;  
    cursor: pointer;

    &:hover {

        background-image:  url('../../images/icons/three_dots.svg');         
    } 
}

.task-detail {

    &__title {
        margin-bottom: 20px;
        font-size: 24px;
    }
    &__body {
        font-size: 20px;
        margin-bottom: 20px;
    }
    ul, ol {
        margin-left: 40px;
    }
    li {
        margin-bottom: 4px;
    }
}

.clear-tasks-btn {
    background-color: #fff;
    border: 1px solid red;
    color: red;
    font-size: 18px;
    font-weight: normal;
    width: 130px;
    height: 38px;
    transition: 0.2s;
    align-self: center;
    &:hover {
        background-color: red;
        color: white;
    }
}

.task-detail-btn-block {
    display: flex;
    // justify-content: space-between;
    gap: 11px;
    margin-bottom: 20px;
}

.task-detail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 90px;
    height: 44px;
    font-size: 18px;
    button {
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
    
}

.item-bg-color-1 {
    background-color: #e3feff;
}
.item-bg-color-2 {
    background-color: #e7ffe5;
}
.item-bg-color-3 {
    background-color: #fffedc;
}
.item-bg-color-4 {
    background-color: #ffefdc;
}
.item-bg-color-5 {
    background-color: #ffe6e6;
}

.select-color-modal {
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
    background-color: $white;
    position: absolute;
    width: 220px;
    right: 100%;
    top: 0;
    display: none;
    padding: 4px 6px 0 6px;
    transition: 0.4s;
    input, label {
        transition: 0.4s; 
    }
    input:hover, label:hover {
        border: 1px solid red;
    }

}

.todo-item__action-list > li:hover  .select-color-modal {
    display: block;
}

.form__color-block {
    margin: 0;
    height: fit-content;
}