.item-bg-color-1 {
    background-color: #e3feff;
}
.item-bg-color-2 {
    background-color: #e7ffe5;
}
.item-bg-color-3 {
    background-color: #fffedc;
}
.item-bg-color-4 {
    background-color: #ffefdc;
}
.item-bg-color-5 {
    background-color: #ffe6e6;
}
